//Style de la page d'accueil



body {
    font-family: Arial;

}

        h1 {
            font-family: "Lobster", cursive;
     }

    & > main {
        background-color: $color-white;
    }